.DS_Store
/*.asc
/*.deb
/*.exe
/*.jsonl
/*.pcap
/*.pprof
/*.tar.gz
/*.zip
/DEBIAN_INSTALLED_PACKAGE.txt
/apitool
/badproxy.pem
/buildtool
/ghpublish.out.txt
/jafar
/miniooni
/oohelper
/oohelperd
/ooniprobe
/ooporthelper
/libooniengine.*
/probe-cli.cov
/tmp-*
