.DS_Store
/*.jsonl
/*.tar.gz
/*.zip
/.vscode
/apitool
/apitool.exe
/coverage.cov
/miniooni
/miniooni.exe
/oohelper
/oohelper.exe
/oohelperd
/oohelperd.exe
/ooniprobe
/ooniprobe.exe
/ooniprobe_checksums.txt
/ooniprobe_checksums.txt.asc
/probe-cli.cov
/testdata/gotmp
