/*.jsonl
/.vscode
/apitool
/asn.mmdb
/badproxy.pem
/ca-bundle.pem
/cmd/jafar/badproxy.pem
/country.mmdb
/example.org
/jafar
/jafar.exe
/miniooni
/miniooni.exe
/oohelper
/oohelperd
/oonipsiphon/
.DS_Store
