[Unit]
Description=OONI CLI Probe
Requires=ooniprobe-cli.service

[Timer]
Unit=ooniprobe-cli.service
OnCalendar=daily
RandomizedDelaySec=24h

[Install]
WantedBy=timers.target
