[Unit]
Description=OONI Probe CLI
Requires=ooniprobe-cli.service

[Timer]
Unit=ooniprobe-cli.service
OnCalendar=daily
RandomizedDelaySec=12h

[Install]
WantedBy=timers.target
