#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_clean:
	rm -f debian/ooniprobe.1
	dh_auto_clean

override_dh_auto_build:
	# The ooniprobe binary is provided
	./ooniprobe --help-man > debian/ooniprobe.1

override_dh_dwz:
	true

override_dh_auto_install:
	dh_auto_install -- --no-source
