#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean

override_dh_auto_build:
	# The ooniprobe binary is provided

override_dh_dwz:
	true

override_dh_strip:
	# We cross compile and build packages for any arch from
	# linux/amd64 so we need to avoid this step. BTW this step
	# is not needed because we already strip when building.
	true

override_dh_makeshlibs:
	# We cross compile and build packages for any arch from
	# linux/amd64 so we need to avoid this step. BTW this step
	# is not needed because we don't have any shlib.
	true

override_dh_auto_install:
	dh_auto_install -- --no-source
