# alltests runs the whole test suite
name: alltests
on:
  push:
    branches:
      - "release/**"
      - "stable"
jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/setup-go@v1
        with:
          go-version: "1.16"
      - uses: actions/checkout@v2
      - run: go test -race -tags shaping ./...
