# android checks whether we can build for Android
name: android
on:
  push:
    branches:
      - "mobile-staging"
      - "release/**"
      - "stable"
      - "issue/1863"
jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/setup-go@v1
        with:
          go-version: "1.17.3"
      - uses: actions/checkout@v2
      - run: ./mk OONI_PSIPHON_TAGS="" ./MOBILE/android/oonimkall.aar
