# coverage computes the code coverage
name: coverage
on:
  pull_request:
  push:
    branches:
      - "master"
      - "release/**"
jobs:

  measure_coverage:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        go:
          - "1.17.9"
          - "1.18.1"
    steps:
      - uses: magnetikonline/action-golang-cache@v2
        with:
          go-version: "${{ matrix.go }}"
          cache-key-suffix: "-coverage-${{ matrix.go }}"
      - uses: actions/checkout@v2
      - run: go test -short -race -tags shaping -coverprofile=probe-cli.cov ./...
      - uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: probe-cli.cov
          parallel: true

  finish_measuring_coverage:
    needs: measure_coverage
    runs-on: ubuntu-latest
    steps:
      - uses: shogo82148/actions-goveralls@v1
        with:
          parallel-finished: true
