# debianrepo ensures we can install on debian with the official build instructions
name: debianrepo
on:
  push:
    branches:
      - "stable"
      - "release/**"
      - "master"
      - "debianrepo"

jobs:
  test_386:
    runs-on: "ubuntu-20.04"
    steps:
      - uses: actions/checkout@v2
      - run: sudo ./E2E/debian.sh docker i386
      - run: sudo cat DEBIAN_INSTALLED_PACKAGE.txt

  test_amd64:
    runs-on: "ubuntu-20.04"
    steps:
      - uses: actions/checkout@v2
      - run: sudo ./E2E/debian.sh docker amd64
      - run: sudo cat DEBIAN_INSTALLED_PACKAGE.txt

  test_arm:
    runs-on: "ubuntu-20.04"
    steps:
      - uses: actions/checkout@v2
      - run: sudo ./E2E/debian.sh docker armhf
      - run: sudo cat DEBIAN_INSTALLED_PACKAGE.txt

  test_arm64:
    runs-on: "ubuntu-20.04"
    steps:
      - uses: actions/checkout@v2
      - run: sudo ./E2E/debian.sh docker arm64
      - run: sudo cat DEBIAN_INSTALLED_PACKAGE.txt
