# Verifies that `go generate ./...` is not broken
name: generate
on:
  push:
    branches:
      - "release/**"

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/setup-go@v1
        with:
          go-version: "1.17.10"
      - uses: actions/checkout@v2
      - run: go generate ./...
