# Runs the gosec security scanner
name: gosec
on:
  push:
    branches:
      - "master"
      - "release/**"

jobs:
  gosec:
    runs-on: ubuntu-20.04
    env:
        GO111MODULE: on
    steps:
    - name: Checkout Source
      uses: actions/checkout@v2

    - name: Run Gosec security scanner
      continue-on-error: true # TODO(https://github.com/ooni/probe/issues/2180)
      uses: securego/gosec@master
      with:
        args: ./...
