# ios checks whether we can build for iOS
name: ios
on:
  push:
    branches:
      - "mobile-staging"
      - "release/**"
      - "stable"
jobs:
  test:
    runs-on: macos-10.15
    steps:
      - uses: actions/setup-go@v1
        with:
          go-version: "1.17.2"
      - uses: actions/checkout@v2
      - run: ./mk OONI_PSIPHON_TAGS="" XCODE_VERSION=12.4 ./MOBILE/ios/oonimkall.framework.zip
