# Checks whether the jafar tool is still WAI.
name: jafar
on:
  push:
    branches:
      - "release/**"

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/setup-go@v1
        with:
          go-version: "1.17.11"
      - uses: actions/checkout@v2
      - run: go build -v ./internal/cmd/jafar
      - run: sudo ./testjafar.bash
