# linux builds ooniprobe for Linux
name: linux
on:
  push:
    branches:
      - "release/**"
      - "stable"

jobs:
  build_386:
    runs-on: "ubuntu-20.04"
    steps:
      - uses: actions/checkout@v2
      - run: ./mk OONI_PSIPHON_TAGS="" DEBIAN_TILDE_VERSION=$GITHUB_RUN_NUMBER ./debian/386
      - run: ./E2E/ooniprobe.sh ./CLI/linux/386/ooniprobe
      - run: ./CLI/linux/pubdebian
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          DEB_GPG_KEY: ${{ secrets.DEB_GPG_KEY }}

  build_amd64:
    runs-on: "ubuntu-20.04"
    steps:
      - uses: actions/checkout@v2
      - run: ./mk OONI_PSIPHON_TAGS="" DEBIAN_TILDE_VERSION=$GITHUB_RUN_NUMBER ./debian/amd64
      - run: ./E2E/ooniprobe.sh ./CLI/linux/amd64/ooniprobe
      - run: ./CLI/linux/pubdebian
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          DEB_GPG_KEY: ${{ secrets.DEB_GPG_KEY }}

  build_arm:
    runs-on: "ubuntu-20.04"
    steps:
      - uses: actions/checkout@v2
      - run: sudo apt-get update -q
      - run: sudo apt-get install -y qemu-user-static
      - run: ./mk OONI_PSIPHON_TAGS="" DEBIAN_TILDE_VERSION=$GITHUB_RUN_NUMBER ./debian/arm
      - run: ./E2E/ooniprobe.sh ./CLI/linux/arm/ooniprobe
      - run: ./CLI/linux/pubdebian
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          DEB_GPG_KEY: ${{ secrets.DEB_GPG_KEY }}

  build_arm64:
    runs-on: "ubuntu-20.04"
    steps:
      - uses: actions/checkout@v2
      - run: sudo apt-get update -q
      - run: sudo apt-get install -y qemu-user-static
      - run: ./mk OONI_PSIPHON_TAGS="" DEBIAN_TILDE_VERSION=$GITHUB_RUN_NUMBER ./debian/arm64
      - run: ./E2E/ooniprobe.sh ./CLI/linux/arm64/ooniprobe
      - run: ./CLI/linux/pubdebian
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          DEB_GPG_KEY: ${{ secrets.DEB_GPG_KEY }}
