# macos builds ooniprobe for macos
name: macos
on:
  push:
    branches:
      - "release/**"
      - "stable"
jobs:
  build:
    runs-on: "macos-11"
    steps:
      - uses: actions/setup-go@v1
        with:
          go-version: "1.17.3"
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: |
          echo -n $PSIPHON_CONFIG_KEY > ./internal/engine/psiphon-config.key
          echo $PSIPHON_CONFIG_JSON_AGE_BASE64 | base64 -d > ./internal/engine/psiphon-config.json.age
        env:
          PSIPHON_CONFIG_KEY: ${{ secrets.PSIPHON_CONFIG_KEY }}
          PSIPHON_CONFIG_JSON_AGE_BASE64: ${{ secrets.PSIPHON_CONFIG_JSON_AGE_BASE64 }}
      - run: ./mk ./CLI/ooniprobe-darwin
      - run: ./E2E/ooniprobe.sh ./CLI/ooniprobe-darwin-amd64
