# netxlite runs unit and integration tests on our fundamental net library
name: coverage
on:
  pull_request:
  push:
    branches:
      - "master"
jobs:
  test:
    runs-on: "${{ matrix.os }}"
    strategy:
      matrix:
        go: [ "1.17.1" ]
        os: [ "ubuntu-20.04", "windows-2019", "macos-10.15" ]
    steps:
      - uses: actions/setup-go@v1
        with:
          go-version: "${{ matrix.go }}"
      - uses: actions/checkout@v2
      - run: go test -race -coverprofile=probe-cli.cov ./internal/netxlite/...
