# Builds and publishes oohelperd for Linux
name: oohelperd
on:
  push:
    branches:
      - "release/**"
      - "fullbuild"
    tags:
      - "v*"
  schedule:
    - cron: "17 1 * * *"

jobs:
  build_and_publish:
    runs-on: "ubuntu-22.04"
    permissions: # See https://github.com/ooni/probe/issues/2154
      contents: write
    steps:
      - uses: actions/checkout@v3

      - name: Get GOVERSION content
        id: goversion
        run: echo "version=$(cat GOVERSION)" >> "$GITHUB_OUTPUTS"

      - uses: magnetikonline/action-golang-cache@v4
        with:
          go-version: "${{ steps.goversion.outputs.version }}"
          cache-key-suffix: "-oohelperd-${{ steps.goversion.outputs.version }}"

      - name: build oohelperd binary
        run: go run ./internal/cmd/buildtool oohelperd build

      - run: ./script/ghpublish.bash ./CLI/oohelperd-linux-amd64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
