# qahirl runs QA checks for the hirl experiment
name: "qahirl"
on:
  push:
    branches:
      - "release/**"
jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/setup-go@v1
        with:
          go-version: "1.16"
      - uses: actions/checkout@v2
      - run: ./QA/rundocker.bash "hirl"
