# qawebconnectivity runs QA checks for the webconnectivity experiment
name: "qawebconnectivity"
on:
  push:
    branches:
      - "release/**"
jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/setup-go@v1
        with:
          go-version: "1.17.6"
      - uses: actions/checkout@v2
      - run: ./QA/rundocker.bash "webconnectivity"
